<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <p>
        <br/>
        <br/> Category List
        <br/>
        <br/>
        <table class="table">
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr th:each="category,iterationStatus  : ${categories}">
                <td th:text="${iterationStatus.count}">1</td>
                <td th:text="${category.id}">id</td>
                <td th:text="${category.name}">name</td>
                <td th:text="${category.description}">description</td>
            </tr>
        </table>
    </p>
</div>
</body>
</html>